<div class="main">
  <div class="text-center">
    <h2 class="title-groups">Palpitar</h2>
    <p class="text-intro"></p>
  </div>
  <div class="card-info">
    <h3 class="info-strong">Informações</h3>
    <p class="p-card">Dê seus palpites</p>
    <p class="p-card">Acompanhe sua pontuação e o ranking a cada jogo</p>
    <h4 class="info-strong">Como funcionam os palpites?</h4>
    <p class="p-card">Escolha entre o time 1, time 2 ou empate</p>
    <h4 class="info-strong">Pontuação</h4>
    <p class="p-card">Cada palpite correto ganha 1 ponto</p>
    <h4 class="info-strong">Até quando posso palpitar?</h4>
    <p class="p-card">Os palpites podem ser feitos até 20/11/2022 às 12:45</p>
  </div>

  <div class="grid">
    <div class="card-palpite" *ngFor="let jogo of jogos">
      <div class="text-center text-info-card">
          <h4 class="grupoh4">GRUPO {{jogo.time1.grupo}}</h4>
          <p class="info-date">{{jogo.data}}</p>
          <p class="p-time">time 1</p>
          <h2 class="time">{{jogo.time1.time}}</h2>
          <p>x</p>
          <p class="p-time">time 2</p>
          <h2 class="time">{{jogo.time2.time}}</h2>
          <button (click)="salvarPalpite('Vitoria_A', jogo.id)" class="palpite-t1-t2-e">{{jogo.time1.time}}</button>
          <button (click)="salvarPalpite('Empate', jogo.id)" class="palpite-t1-t2-e">Empate</button>
          <button (click)="salvarPalpite('Vitoria_B', jogo.id)" class="palpite-t1-t2-e">{{jogo.time2.time}}</button>
      </div>
    </div>
  </div>
</div>
