<div class="main">
  <div class="text-center">
    <h2 class="title-groups">Top Palpites</h2>
    <p class="text-intro"></p>
  </div>
</div>
<div class="card-info container">
  <table class="table">
    <tr class="tr-color">
        <td class="table-title">Nome</td>
        <td>Palpites</td>
        <td>Pontos</td>
    </tr>
    <tr class="tr-info">
        <td class="td-user">Odirlei</td>
        <td class="td-user">48</td>
        <td class="td-user">48</td>
    </tr>
    <tr class="tr-info">
      <td class="td-user">Luan</td>
      <td class="td-user">48</td>
      <td class="td-user">48</td>
    </tr>
    <tr class="tr-info">
      <td class="td-user">Nicolas</td>
      <td class="td-user">48</td>
      <td class="td-user">48</td>
    </tr>
    <tr class="tr-info">
      <td class="td-user">Emerson</td>
      <td class="td-user">48</td>
      <td class="td-user">48</td>
    </tr>

</table>
</div>
