<div class="main">
  <div class="text-center">
    <h2 class="title-groups">GRUPOS COPA DO MUNDO</h2>
    <p class="text-intro">Visualize os grupos dos jogos e escolha sabiamente o vencedor</p>
    <button (click)="palpitar()" class="btn btn-primary text center btn-guess">Palpitar </button>
  </div>

  <div class="table-responsive text-nowrap table-size">
    <h2> GRUPO A </h2>
    <table class="table table-striped">
      <thead class="table-title">
        <tr>
          <th class="table-rows">Seleções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let time of grupoA">
          <td class="table-rows"> {{time.time}}</td>
        </tr>
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive text-nowrap table-size">
    <h2> GRUPO B</h2>
    <table class="table table-striped">
      <thead class="table-title">
        <tr>
          <th class="table-rows">Seleções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let time of grupoB">
          <td class="table-rows"> {{time.time}}</td>
        </tr>
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive text-nowrap table-size">
    <h2> GRUPO C</h2>
    <table class="table table-striped">
      <thead class="table-title">
        <tr>
          <th class="table-rows">Seleções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let time of grupoC">
          <td class="table-rows"> {{time.time}}</td>
        </tr>
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive text-nowrap table-size">
    <h2>GRUPO D</h2>
    <table class="table table-striped">
      <thead class="table-title">
        <tr>
          <th class="table-rows">Seleções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let time of grupoD">
          <td class="table-rows"> {{time.time}}</td>
        </tr>
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive text-nowrap table-size">
    <h2>GRUPO E</h2>
    <table class="table table-striped">
      <thead class="table-title">
        <tr>
          <th class="table-rows">Seleções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let time of grupoE">
          <td class="table-rows"> {{time.time}}</td>
        </tr>
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive text-nowrap table-size">
    <h2>GRUPO F</h2>
    <table class="table table-striped">
      <thead class="table-title">
        <tr>
          <th class="table-rows">Seleções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let time of grupoF">
          <td class="table-rows"> {{time.time}}</td>
        </tr>
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive text-nowrap table-size">
    <h2>GRUPO G</h2>
    <table class="table table-striped">
      <thead class="table-title">
        <tr>
          <th class="table-rows">Seleções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let time of grupoG">
          <td class="table-rows"> {{time.time}}</td>
        </tr>
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="table-responsive text-nowrap table-size">
    <h2>GRUPO H</h2>
    <table class="table table-striped">
      <thead class="table-title">
        <tr>
          <th class="table-rows">Seleções</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let time of grupoH">
          <td class="table-rows"> {{time.time}}</td>
        </tr>
        <tr>
        </tr>
      </tbody>
    </table>
  </div>
</div>
