
<form (ngSubmit)="login()" [formGroup]="loginForm" #formDir="ngForm">
  <div class="form-grid">
    <div class="form-card">
      <h1 class="welcome">Seja bem vindo</h1>

      <div class="form-group">
        <input
            #emailInput
            type="email"
            class="form-control form-control-email"
            formControlName="email"
            placeholder="Email"
            autofocus
            required>
      </div>
      <div class="form-group">
        <input
            formControlName="password"
            type="password"
            class="form-control form-control-password"
            placeholder="Senha"
            required>
      </div>

      <p class="reset-password">esqueceu sua senha ?<a [routerLink]="['resetSenha']">Clique aqui</a></p>
      <button
          type="submit"
          class="btn btn-primary btn-sub "
          [disabled]="loginForm.invalid">
          Entrar
        </button>
      <p class="register">Ainda nao tem conta?<a [routerLink]="['register']">Register-se</a></p>
    </div>
  </div>
</form>
