
<form>
  <div class="form-grid">
    <div class="form-card">
      <h1 class="welcome">Seja bem vindo</h1>
      <div class="form-group">
        <input type="email" class="form-control form-control-email" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control form-control-password" id="exampleInputPassword1" placeholder="Password">
      </div>
      <p class="reset-password">esqueceu sua senha ? clique aqui</p>
      <button type="submit" class="btn btn-primary btn-sub ">Submit</button>
      <p class="register">Ainda nao tem conta? registre-se</p>
    </div>
  </div>
</form>
