<div class="bg-home">
  <div class="container ">
      <div class="row">
          <div class="col-md-6 mb-2 ">
              <div class="div-img">
                <h2 class="title">Bolão copa do mundo</h2>
                <img class="img-logo-copa" src="/assets/img/logo-copa-sf.png" alt="">
                <p class="welcome-phrase">Partice ou crie um bolao, chame os amigos</p>
                <p class="welcome-bold">e divirta-se!</p>
              </div>
          </div>
          <div class="col-md-6">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>
